.Footer {
    margin: 30px auto;
}

.row {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
}

.company, .autor {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    color: #8B8C89;
    
}